USE [master]
GO
/****** Object:  Database [QL_SoThuChi_CaNhan]    Script Date: 23/04/2025 8:29:47 CH ******/
CREATE DATABASE [QL_SoThuChi_CaNhan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_SoThuChi_CaNhan', FILENAME = N'E:\Do_an_PTTKHT\QL_SoThuChi_CaNhan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_SoThuChi_CaNhan_log', FILENAME = N'E:\Do_an_PTTKHT\QL_SoThuChi_CaNhan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_SoThuChi_CaNhan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_SoThuChi_CaNhan]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 23/04/2025 8:29:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [varchar](13) NOT NULL,
	[LoaiDanhMuc] [nvarchar](50) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
 CONSTRAINT [PK__DanhMuc__B3750887C2CFE630] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 23/04/2025 8:29:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[MaGiaoDich] [varchar](13) NOT NULL,
	[MaNguoiDung] [varchar](13) NOT NULL,
	[MaTaiKhoan] [varchar](13) NOT NULL,
	[MaDanhMuc] [varchar](13) NOT NULL,
	[SoTien] [float] NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[SoDuSauGiaoDich] [float] NULL,
 CONSTRAINT [PK__GiaoDich__0A2A24EB24D8A131] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HanMucChiTieu]    Script Date: 23/04/2025 8:29:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HanMucChiTieu](
	[MaHanMuc] [varchar](13) NOT NULL,
	[MaNguoiDung] [varchar](13) NOT NULL,
	[MaDanhMuc] [varchar](13) NOT NULL,
	[SoTienToiDa] [float] NOT NULL,
	[NgayApDung] [date] NULL,
 CONSTRAINT [PK__HanMucCh__87381ADD873833BC] PRIMARY KEY CLUSTERED 
(
	[MaHanMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuDangNhap]    Script Date: 23/04/2025 8:29:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDangNhap](
	[MaLichSu] [varchar](13) NOT NULL,
	[MaNguoiDung] [varchar](13) NOT NULL,
	[ThoiGian] [datetime] NULL,
	[ThietBi_Login] [nvarchar](50) NULL,
 CONSTRAINT [PK__LichSuDa__C443222AE302D6D1] PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MucTieuTietKiem]    Script Date: 23/04/2025 8:29:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucTieuTietKiem](
	[MaMucTieu] [varchar](13) NOT NULL,
	[MaNguoiDung] [varchar](13) NOT NULL,
	[TenMucTieu] [nvarchar](100) NOT NULL,
	[SoTienMucTieu] [float] NOT NULL,
	[SoTienDaTietKiem] [float] NOT NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK__MucTieuT__E587A329BC4EEFAB] PRIMARY KEY CLUSTERED 
(
	[MaMucTieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 23/04/2025 8:29:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [varchar](13) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhau] [nvarchar](25) NULL,
	[SoDienThoai] [int] NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK__NguoiDun__C539D762B1BCD6B8] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 23/04/2025 8:29:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](13) NOT NULL,
	[MaNguoiDung] [varchar](13) NOT NULL,
	[TenTaiKhoan] [nvarchar](100) NULL,
	[LoaiTaiKhoan] [nvarchar](50) NULL,
	[SoDu] [float] NULL,
 CONSTRAINT [PK__TaiKhoan__AD7C652942115124] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 23/04/2025 8:29:48 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [varchar](13) NOT NULL,
	[MaNguoiDung] [varchar](13) NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK__ThongBao__04DEB54E7EFB3DD0] PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [LoaiDanhMuc], [TenDanhMuc]) VALUES (N'DM001', N'Thu', N'Lương')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [LoaiDanhMuc], [TenDanhMuc]) VALUES (N'DM002', N'Chi', N'Ăn uống')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [LoaiDanhMuc], [TenDanhMuc]) VALUES (N'DM003', N'Thu', N'Thu nhập khác')
GO
INSERT [dbo].[GiaoDich] ([MaGiaoDich], [MaNguoiDung], [MaTaiKhoan], [MaDanhMuc], [SoTien], [NgayGiaoDich], [GhiChu], [SoDuSauGiaoDich]) VALUES (N'GD001', N'ND001', N'TK001', N'DM002', 10000, CAST(N'2025-04-22T15:38:31.453' AS DateTime), N'Cà phê', 91000)
INSERT [dbo].[GiaoDich] ([MaGiaoDich], [MaNguoiDung], [MaTaiKhoan], [MaDanhMuc], [SoTien], [NgayGiaoDich], [GhiChu], [SoDuSauGiaoDich]) VALUES (N'GD002', N'ND002', N'TK002', N'DM001', 10000, CAST(N'2025-04-22T15:38:31.453' AS DateTime), N'Lương tháng 4', 210000)
INSERT [dbo].[GiaoDich] ([MaGiaoDich], [MaNguoiDung], [MaTaiKhoan], [MaDanhMuc], [SoTien], [NgayGiaoDich], [GhiChu], [SoDuSauGiaoDich]) VALUES (N'GD003', N'ND003', N'TK003', N'DM004', 10000, CAST(N'2025-04-22T15:38:31.453' AS DateTime), N'Xem phim', 290000)
GO
INSERT [dbo].[HanMucChiTieu] ([MaHanMuc], [MaNguoiDung], [MaDanhMuc], [SoTienToiDa], [NgayApDung]) VALUES (N'HM001', N'ND001', N'DM002', 100000, CAST(N'2025-04-01' AS Date))
INSERT [dbo].[HanMucChiTieu] ([MaHanMuc], [MaNguoiDung], [MaDanhMuc], [SoTienToiDa], [NgayApDung]) VALUES (N'HM002', N'ND002', N'DM004', 200000, CAST(N'2025-04-01' AS Date))
INSERT [dbo].[HanMucChiTieu] ([MaHanMuc], [MaNguoiDung], [MaDanhMuc], [SoTienToiDa], [NgayApDung]) VALUES (N'HM003', N'ND003', N'DM005', 500000, CAST(N'2025-04-01' AS Date))
GO
INSERT [dbo].[LichSuDangNhap] ([MaLichSu], [MaNguoiDung], [ThoiGian], [ThietBi_Login]) VALUES (N'LS001', N'ND001', CAST(N'2025-04-22T15:38:31.453' AS DateTime), N'Chrome - Windows')
INSERT [dbo].[LichSuDangNhap] ([MaLichSu], [MaNguoiDung], [ThoiGian], [ThietBi_Login]) VALUES (N'LS002', N'ND002', CAST(N'2025-04-22T15:38:31.453' AS DateTime), N'Edge - Windows')
INSERT [dbo].[LichSuDangNhap] ([MaLichSu], [MaNguoiDung], [ThoiGian], [ThietBi_Login]) VALUES (N'LS003', N'ND003', CAST(N'2025-04-22T15:38:31.453' AS DateTime), N'Safari - iOS')
GO
INSERT [dbo].[MucTieuTietKiem] ([MaMucTieu], [MaNguoiDung], [TenMucTieu], [SoTienMucTieu], [SoTienDaTietKiem], [NgayBatDau], [NgayKetThuc]) VALUES (N'MT001', N'ND001', N'Mua Laptop', 2000, 5000, CAST(N'2024-01-01' AS Date), CAST(N'2024-12-31' AS Date))
INSERT [dbo].[MucTieuTietKiem] ([MaMucTieu], [MaNguoiDung], [TenMucTieu], [SoTienMucTieu], [SoTienDaTietKiem], [NgayBatDau], [NgayKetThuc]) VALUES (N'MT002', N'ND002', N'Du lịch', 1500, 3000, CAST(N'2023-02-01' AS Date), CAST(N'2024-10-01' AS Date))
INSERT [dbo].[MucTieuTietKiem] ([MaMucTieu], [MaNguoiDung], [TenMucTieu], [SoTienMucTieu], [SoTienDaTietKiem], [NgayBatDau], [NgayKetThuc]) VALUES (N'MT003', N'ND003', N'Mua xe máy', 3000, 1000, CAST(N'2023-03-01' AS Date), CAST(N'2024-03-01' AS Date))
GO
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [SoDienThoai], [NgayTao]) VALUES (N'ND001', N'Nguyễn Văn A', N'a@gmail.com', N'matkhau1', 91234567, CAST(N'2025-04-22T15:38:31.453' AS DateTime))
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [SoDienThoai], [NgayTao]) VALUES (N'ND002', N'Trần Thị B', N'b@gmail.com', N'matkhau2', 82345678, CAST(N'2025-04-22T15:38:31.453' AS DateTime))
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [SoDienThoai], [NgayTao]) VALUES (N'ND003', N'Lê Văn C', N'c@gmail.com', N'matkhau3', 73456789, CAST(N'2025-04-22T15:38:31.453' AS DateTime))
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNguoiDung], [TenTaiKhoan], [LoaiTaiKhoan], [SoDu]) VALUES (N'TK001', N'ND001', N'Tài khoản chính', N'Tiền mặt', 80001)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNguoiDung], [TenTaiKhoan], [LoaiTaiKhoan], [SoDu]) VALUES (N'TK002', N'ND002', N'Tài khoản ngân hàng', N'Chuyển khoản', 160000)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNguoiDung], [TenTaiKhoan], [LoaiTaiKhoan], [SoDu]) VALUES (N'TK003', N'ND003', N'Ví Momo', N'Ví điện tử', 290000)
GO
INSERT [dbo].[ThongBao] ([MaThongBao], [MaNguoiDung], [NoiDung], [NgayTao]) VALUES (N'TB001', N'ND001', N'Hạn mức sắp hết!', CAST(N'2025-04-22T15:38:31.453' AS DateTime))
INSERT [dbo].[ThongBao] ([MaThongBao], [MaNguoiDung], [NoiDung], [NgayTao]) VALUES (N'TB002', N'ND002', N'Đã nhận lương', CAST(N'2025-04-22T15:38:31.453' AS DateTime))
INSERT [dbo].[ThongBao] ([MaThongBao], [MaNguoiDung], [NoiDung], [NgayTao]) VALUES (N'TB003', N'ND003', N'Thống kê tuần đã sẵn sàng', CAST(N'2025-04-22T15:38:31.453' AS DateTime))
GO
/****** Object:  Index [UQ__NguoiDun__0389B7BDE640E676]    Script Date: 23/04/2025 8:29:48 CH ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [UQ__NguoiDun__0389B7BDE640E676] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D1053488737F94]    Script Date: 23/04/2025 8:29:48 CH ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [UQ__NguoiDun__A9D1053488737F94] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GiaoDich] ADD  CONSTRAINT [DF__GiaoDich__NgayGi__4222D4EF]  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[LichSuDangNhap] ADD  CONSTRAINT [DF__LichSuDan__ThoiG__4BAC3F29]  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[MucTieuTietKiem] ADD  CONSTRAINT [DF__MucTieuTi__SoTie__534D60F1]  DEFAULT ((0)) FOR [SoTienDaTietKiem]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [DF__NguoiDung__NgayT__398D8EEE]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF__TaiKhoan__SoDu__3C69FB99]  DEFAULT ((0)) FOR [SoDu]
GO
ALTER TABLE [dbo].[ThongBao] ADD  CONSTRAINT [DF__ThongBao__NgayTa__4F7CD00D]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [FK__GiaoDich__MaDanh] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [FK__GiaoDich__MaDanh]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [FK__GiaoDich__MaNguoidung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [FK__GiaoDich__MaNguoidung]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [FK__GiaoDich__MaTK] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [FK__GiaoDich__MaTK]
GO
ALTER TABLE [dbo].[HanMucChiTieu]  WITH CHECK ADD  CONSTRAINT [FK__HanMucChi__MaDanh] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HanMucChiTieu] CHECK CONSTRAINT [FK__HanMucChi__MaDanh]
GO
ALTER TABLE [dbo].[HanMucChiTieu]  WITH CHECK ADD  CONSTRAINT [FK__HanMucChi__MaNguoidung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HanMucChiTieu] CHECK CONSTRAINT [FK__HanMucChi__MaNguoidung]
GO
ALTER TABLE [dbo].[LichSuDangNhap]  WITH CHECK ADD  CONSTRAINT [FK__LichSuDan__MaNguoidung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LichSuDangNhap] CHECK CONSTRAINT [FK__LichSuDan__MaNguoidung]
GO
ALTER TABLE [dbo].[MucTieuTietKiem]  WITH CHECK ADD  CONSTRAINT [FK_MucTieuTietKiem_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MucTieuTietKiem] CHECK CONSTRAINT [FK_MucTieuTietKiem_NguoiDung]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoan__MaNguoidung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK__TaiKhoan__MaNguoidung]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK__ThongBao__MaNguoidung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK__ThongBao__MaNguoidung]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD  CONSTRAINT [CK_GiaoDich_ngayGD] CHECK  (([NgayGiaoDich]>='2000-01-01 00:00:00' AND [NgayGiaoDich]<=getdate()))
GO
ALTER TABLE [dbo].[GiaoDich] CHECK CONSTRAINT [CK_GiaoDich_ngayGD]
GO
ALTER TABLE [dbo].[HanMucChiTieu]  WITH CHECK ADD  CONSTRAINT [CK_HanMucChiTieu_NgayApdung] CHECK  (([NgayApDung]>='2000-01-01' AND [NgayApDung]<=getdate()))
GO
ALTER TABLE [dbo].[HanMucChiTieu] CHECK CONSTRAINT [CK_HanMucChiTieu_NgayApdung]
GO
ALTER TABLE [dbo].[LichSuDangNhap]  WITH CHECK ADD  CONSTRAINT [CK_LichSuDangNhap_TG] CHECK  (([ThoiGian]>='2000-01-01 00:00:00' AND [ThoiGian]<=getdate()))
GO
ALTER TABLE [dbo].[LichSuDangNhap] CHECK CONSTRAINT [CK_LichSuDangNhap_TG]
GO
ALTER TABLE [dbo].[MucTieuTietKiem]  WITH CHECK ADD  CONSTRAINT [CK_MucTieuTietKiem_NgayBD] CHECK  (([NgayBatDau]>='20000101' AND [NgayBatDau]<=getdate()))
GO
ALTER TABLE [dbo].[MucTieuTietKiem] CHECK CONSTRAINT [CK_MucTieuTietKiem_NgayBD]
GO
ALTER TABLE [dbo].[MucTieuTietKiem]  WITH CHECK ADD  CONSTRAINT [CK_MucTieuTietKiem_NgayKT] CHECK  (([NgayKetThuc]>='20000101' AND [NgayKetThuc]<=getdate()))
GO
ALTER TABLE [dbo].[MucTieuTietKiem] CHECK CONSTRAINT [CK_MucTieuTietKiem_NgayKT]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_NguoiDung_NgayTao] CHECK  (([NgayTao]>='2000-01-01 00:00:00' AND [NgayTao]<=getdate()))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_NguoiDung_NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_soDu] CHECK  (([SoDu]>=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_soDu]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [CK_ThongBao_NgayTao] CHECK  (([NgayTao]>='2000-01-01 00:00:00' AND [NgayTao]<=getdate()))
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [CK_ThongBao_NgayTao]
GO
USE [master]
GO
